# 公開可能なライセンスキーです。本番利用には tldraw のライセンスが必要です。
# 開発（localhost）では未設定でも動作します。
# GitHub Pages では Actions secrets の同名変数をビルド時に埋め込みます。
# キーの許可ホストには Pages のドメイン（例: sugitlab.github.io）が必要です。
# https://tldraw.dev/community/license
VITE_TLDRAW_LICENSE_KEY=
